@model CanteenWebApplication.Models.user_list
@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login page</title>
    <style>
        #loginArea {
            position: absolute;
            left: 40%;
            top: 40%;
            padding: 8px 8px;
        }

        .error {
            color: red;
        }
    </style>
</head>
<body>
    <div id="loginArea">

        @using (Html.BeginForm("LoginAction", "Login", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td>@Html.LabelFor(Model => Model.username)</td>
                    <td>@Html.EditorFor(model => model.username)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.username)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.LabelFor(model => Model.password)</td>
                    <td>@Html.EditorFor(model => model.password)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.password)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="error">@Html.DisplayFor(model => model.LoginError)</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="Login" value="Login" /></td>
                    <td><input type="reset" name="Reset" value="Reset" /></td>
                </tr>
            </table>
        }
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>

@Scripts.Render("~/Scripts/JavaScript.js")
@Styles.Render("~/Content/Site.css")