@model IEnumerable<CanteenWebApplication.Models.user_list>

@*@model CanteenWebApplication.Models.User*@
@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/Content/css")

@{
    ViewBag.Title = "UserEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My profile</h2>
<table style="width:33%" , border="1px">
    <tr>
        <td>Name </td>
        <td>@Model.first_name @Model.last_name <button class="btn" type="button">Temp edit name</button></td>
    </tr>
    <td>Username </td>
    <td>
        @Html.DisplayFor(modelItem => item.username)<button class="btn" type="button">Temp edit username</button>
    </td>
    <tr>
        <td>Password </td>
        <td>@Model.password <button class="btn" type="button">Temp edit password</button></td>
    </tr>
    <tr>
        <td>Email adress </td>
        <td>@Model.email <button class="btn" type="button">Temp edit email</button></td>
    </tr>
    <tr>
        <td>Phone number </td>
        <td>@Model.phone <button class="btn" type="button">Temp edit phone</button></td>
    </tr>
</table>

<div id="myModal0" class="modal">
    <div class="modal-content">
        <h3>Change name</h3>
        <p>This change requires password</p>
        <form method="POST" asp-action="Profile" asp-controller="Form">
            <span class="close">&times</span>
            <p><b>New first name</b></p>
            <input type="text" name="FirstName" asp-for="FirstName" id="FirstName" /> <br /> <br />
            <p><b>New last name</b></p>
            <input type="text" name="LastName" asp-for="LastName" id="LastName" /> <br /> <br />
            <p><b>Password confirmation</b></p>
            <input type="text" name="PasswordConf" asp-for="PasswordConf" id="PasswordConf" OnClick="EditProfileButton_Click" /> <br /> <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>

@*<div id="myModal1" class="modal">
        <div class="modal-content">
            <h3>Change username</h3>
            <p>This change requires password</p>
            <form method="POST" asp-action="Profile" asp-controller="Form">
                <span class="close">&times</span>
                <p><b>New username</b></p>
                <input type="text" name="Username" asp-for="Username" id="Username" /> <br /> <br />
                <p><b>Password confirmation</b></p>
                <input type="text" name="PasswordConf" asp-for="PasswordConf" id="PasswordConf" /> <br /> <br />
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>*@

<div id="myModal2" class="modal">
    <div class="modal-content">
        <h3>Change password</h3>
        <p>This change requires password</p>
        <form method="POST" asp-action="Profile" asp-controller="Form">
            <span class="close">&times</span>
            <p><b>New password</b></p>
            <input type="text" name="Password" asp-for="Password" id="Password" /> <br /> <br />
            <p><b>Confirm new password</b></p>
            <input type="text" name="Password2" asp-for="Password2" id="Password2" /> <br /> <br />
            <p><b>Password confirmation</b></p>
            <input type="text" name="PasswordConf" asp-for="PasswordConf" id="PasswordConf" /> <br /> <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>

<div id="myModal3" class="modal">
    <div class="modal-content">
        <h3>Change email</h3>
        <p>This change requires password</p>
        <form method="POST" asp-action="Profile" asp-controller="Form">
            <span class="close">&times</span>
            <p><b>New email</b></p>
            <input type="text" name="Email" asp-for="Email" id="Email" /> <br /> <br />
            <p><b>Password confirmation</b></p>
            <input type="text" name="PasswordConf" asp-for="PasswordConf" id="PasswordConf" /> <br /> <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>

<div id="myModal4" class="modal">
    <div class="modal-content">
        <h3>Change phonenumber</h3>
        <form method="POST" asp-action="Profile" asp-controller="Form">
            <span class="close">&times</span>
            <p><b>New phonenumber</b></p>
            <input type="text" name="PhoneNum" asp-for="PhoneNum" id="PhoneNum" /> <br /> <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>

